*.pyc
nul
/test_worker.egg-info
/dist
/.idea
/node_modules
package-lock.json
.DS_Store
/venv/Include
/venv
worker.log
*.lock
/build_env
/build
/data/browser_cache
/data/chrome_profile
/data
worker/_version.py
